---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
import FriendsContent  from "~/content/friends/index.astro";
---

<LayoutDefault>
  <div un-flex="~ col gap-4">
    <FriendsContent />
  </div>
</LayoutDefault>