---
export function FriendsContent() {
  return `
    <div class="post-body">
      <div id="links" class="mt-4">
        <div class="links-content">
          <div class="link-navigation relative">
            // <div class="card w-full md:w-2/5 text-base p-2.5 rounded transition-all duration-150 mb-4 flex md:float-left even:md:float-right hover:scale-110 hover:shadow-lg">
            //   <img class="ava w-12 h-12 m-0 mr-4 rounded" src="favicon" />
            //   <div class="card-header italic w-full">
            //     <div>
            //       <a target="_blank" href="url" class="no-underline font-bold text-emerald-500 hover:text-pink-400">Blog Name</a>
            //     </div>
            //     <div class="info normal-case text-gray-500 text-sm min-w-0 overflow-hidden break-words"></div>
            //   </div>
            // </div>

          </div>
        </div>
      </div>
    </div>
  `
}
---